<!DOCTYPE html>
<html>
<head>
    <title>Lista de Equipos</title>
</head>
<body>
    <h1>Equipos de la NFL</h1>
    <ul>
        {% for team in teams %}
            <li>{{ team.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>
